
<footer id="fh5co-footer" role="contentinfo" style="margin-top:300px;width:100%;bottom:0">
    <div class="container">


        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                    <small class="block">来源 <a href="" target="_blank" title="重庆理工大学">重庆理工大学</a> - Collect from <a href="" title="软件工程" target="_blank">软件工程</a> 2班: <a href="#" target="_blank">肖波</a> </small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>

