
@{
    ViewBag.Title = "主页";
    Layout = ("~/Views/Goods/_GoodsLayout.cshtml");
}

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/Img/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text-left">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                        <h1 class="mb30">倾听你所在乎的</h1>
                        <p>
                            <a href="#welcome"  class="btn btn-primary">开启Sport</a>  <em class="or">or</em>
                            <a href="/Goods/Register" class="link-watch popup-vimeo">注册</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</header>

@Html.Partial("_Menu")
@Html.Partial("_Carousel")
<div id="fh5co-services" class="fh5co-bg-section border-bottom" >
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-heading">
                    <span>我们的功能</span>
                    <h2>核心功能</h2>
                    <p>用心带给您更好的体验.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-eye"></i>
                    </span>
                    <h3>炫酷游戏</h3>
                    <p>在这里,你能找到你所有所感兴趣的以及所关注的</p>
                    <p>Here, you can find out what you're interested in and what you're interested in</p>
                    <p><a href="/Goods/GoodsList?style=游戏">快速进入</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-command"></i>
                    </span>
                    <h3>精品装备</h3>
                    <p>想在游戏里变得更强吗？还不来买</p>
                    <p>Want to be stronger in the game? Think, then act quickly</p>
                    <p><a href="/Goods/GoodsList?style=装备">快速进入</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-power"></i>
                    </span>
                    <h3>精美周边</h3>
                    <p>作为热爱电竞的你，需要收藏一点周边</p>
                    <p>As you love gaming, a collection of around can make you more handsome</p>
                    <p><a href="/Goods/GoodsList?style=周边">快速进入</a></p>
                </div>
            </div>



            <div class="clearfix visible-md-block"></div>

        </div>
    </div>
</div>







<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                <span>我们希望用户能多多提出意见</span>
                <h2>用户反馈</h2>
                <p>We want users to make a lot of suggestions.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;在这里，我买到了我最喜欢玩的游戏，5星好评.&rdquo;</p>
                        <p class="author"> <img src="~/Img/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
                    </blockquote>
                </div>

                <div class="testimonial fh5co-selected">
                    <blockquote>
                        <p>&ldquo;它的周边玩具质量非常好，颜值也很棒，就是有一点贵.&rdquo;</p>
                        <p class="author"><img src="~/Img/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
                    </blockquote>
                </div>
            </div>

            <div class="col-md-6 animate-box">
                <div class="testimonial fh5co-selected">
                    <blockquote>
                        <p>&ldquo;把天平倾向了消费者一边，中国的消费者第一次感觉到这么大的权力，嘿呦~.&rdquo;</p>
                        <p class="author"><img src="~/Img/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
                    </blockquote>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;给朋友买了个游戏，他很喜欢，下次还来.&rdquo;</p>
                        <p class="author"><img src="~/Img/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
                    </blockquote>
                </div>

            </div>



        </div>
    </div>
</div>


<div id="fh5co-counter">
    <div class="container">

        <div class="row animate-box" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                <span>Enjoy it</span>
                <h2>关于本站</h2>
                <p>This website will bring you the best experience, and you can also invite your friends to have a try.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-download"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="521" data-speed="1500" data-refresh-interval="50"></span>M+</span>
                    <span class="counter-label">访问量</span>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="83" data-speed="1500" data-refresh-interval="50"></span></span>
                    <span class="counter-label">注册用户</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-briefcase"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="100" data-speed="1500" data-refresh-interval="50"></span>+</span>
                    <span class="counter-label">商品种类</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-time"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="100" data-speed="1500" data-refresh-interval="50"></span>K+</span>
                    <span class="counter-label">卖出商品</span>

                </div>
            </div>

        </div>
    </div>
</div>



<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>我们的团队期待你的加入</span>
                <h2>请尽情使用，我们将一直免费开放本站</h2>
                <p>Please use it freely and we will always open the station free of charge.</p>
                <p><button type="submit" class="btn btn-primary">Get In Touch</button></p>
            </div>
        </div>
    </div>
</div>
